<<<<<<< HEAD
/* NAV */
.navbar-brand {
  color: black;
  font-size: 18px;
}

.navbar-toggler {
  color: #0000007d;

}

.navbar-toggler i {
  font-size: 20px;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}

.dropdown-menu li .dropdown-item {
  color: gray;
  font-size: 1em;
  padding: 0.5em 1em;
}

.dropdown-menu {
  border: none;
  border-radius: 0;
  padding: 0.7em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


.dropdown-menu.show {
  display: flex;
}

.form-control {
  font-size: 0.7rem;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}

@media only screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: flex;
  }

  .dropdown-menu.show {
    display: flex;
  }
}

@media only screen and (max-width: 992px) {
  .dropdown-menu.show {
    flex-wrap: wrap;
    max-height: 350px;
    overflow-y: scroll;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1140px) {
  .dropdown:hover .dropdown-menu {
    width: 40vw;
    flex-wrap: wrap;
  }

}

/* thong bao */

/* end thong bao */



/* SEARCH */
.d-flex {
  height: 2rem;
  align-items: center;
}

.d-flex .inner-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-right: 20px;
  --tw-bg-opacity: 0.1;
  --tw-text-opacity: 0.7;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.d-flex .inner-button:hover {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-right: 20px;
  --tw-bg-opacity: 0.1;
  --tw-text-opacity: 0.7;
  background-color: rgb(154, 150, 150);
  color: rgb(0 0 0 / var(--tw-text-opacity));

}

.d-flex .inner-button i {
  margin: -3px;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  --tw-text-opacity: 0.7;
  font-size: 10px;

}

/* END SEARCH */


.bg-dark {
  background-color: #edeef0 !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

}

/* CAROUSEL */
.fa-solid {
  font-size: 0.8rem;
}


.c-item {
  height: 330px;
  position: relative;
}

.c-item div {
  background-size: contain;
  background-repeat: no-repeat;
}

.c-img {
  border-radius: 10px;
  width: 100px;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);

}

.btn-primary {
  color: #fff;
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / 54%);
}

.set-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: .5rem;
  background-origin: content-box;
  object-fit: cover;
}

.inner-image {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
}

#myCarousel {
  background-color: #d1d5db;
  height: 28rem;

}

.inner-sign {
  display: block;
  padding: .5rem 1rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  background: #0d6efd;
  padding: .5rem 1rem;
  font-size: 0.8rem;
  border-radius: .3rem;
  width: 100px;
  margin: 10px 0;
}

.inner-sign:hover {
  color: rgba(255, 255, 255, .55);
}


.btn-outline-success {
  color: #000000;
  border-color: #000000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}

.btn-outline-success i {
  text-align: center;
}


.btn-outline-success:hover {
  background: #eeeeee;
  color: black;
  border: solid black 1px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
  color: #000000;
}

.navbar-dark .navbar-nav a.nav-link {
  color: #000000;
  font-size: 1em;
}

.navbar-dark .navbar-nav a.nav-link:hover {
  color: var(--color-text);
}



.image-set {
  background: linear-gradient(0deg, #000000e6, rgba(0, 0, 0, .863) 5.79%, rgba(0, 0, 0, .802) 10.88%, rgba(0, 0, 0, .721) 15.63%, rgba(0, 0, 0, .627) 20.37%, rgba(0, 0, 0, .523) 25.46%, rgba(0, 0, 0, .416) 31.25%, rgba(0, 0, 0, .311) 38.08%, rgba(0, 0, 0, .213) 46.3%, rgba(0, 0, 0, .128) 56.25%, #0000000f 68.29%, rgba(0, 0, 0, .016) 82.75%, #0000);
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  border-radius: 10px;

}

.inner-text {
  margin-left: 10px;
}

.text-end {
  display: flex;
  text-align: left !important;
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;

}

.text-end .inner-button {
  right: 0;
  display: inline-block;
}

.carousel-indicators {
  z-index: 15 !important;
}

.carousel-caption .inner-desc {
  font-size: 14px;
  width: 95%;
  margin: 0;
  padding: 0;
}

.carousel-caption .inner-background {
  background: linear-gradient(0deg, #000000e6, rgba(0, 0, 0, .863) 5.79%, rgba(0, 0, 0, .802) 10.88%, rgba(0, 0, 0, .721) 15.63%, rgba(0, 0, 0, .627) 20.37%, rgba(0, 0, 0, .523) 25.46%, rgba(0, 0, 0, .416) 31.25%, rgba(0, 0, 0, .311) 38.08%, rgba(0, 0, 0, .213) 46.3%, rgba(0, 0, 0, .128) 56.25%, #0000000f 68.29%, rgba(0, 0, 0, .016) 82.75%, #0000);
  font-size: 14px;
  width: 95%;
  margin: 0;
  padding: 0;
}

.text-start {
  text-align: left !important;
  top: 0.02rem;
}


.btn-group-lg>.btn,
.btn-lg {
  padding: .2rem;
  font-size: 16px;
  border-radius: .3rem;
  width: 150px;
  margin-right: 10px;
}

/* END CAROUSEL */


/*main*/
body {
  background-color: #D1D4DD;
}

.truyentheodoi {
  margin: 0 px;

  color: #4D535E;
}

.truyentheodoi .truyen {
  margin-bottom: 70px;
}
.truyentheodoi .truyen img {
  width: 160px;
  height: 230px;
  border-radius: 10px;
}


.truyentheodoi h3 {
  margin-bottom: 50px;
}

.chuyentrang .col-6 {
  position: relative;
  font-weight: 500;

}

.trangtruoc {
  position: absolute;
  right: 0px;
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 50px;
  color: rgb(0, 0, 0);
  background-color: #999a9d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button i {
  margin-right: 8px;
  margin-left: 8px;
}

.button:hover {
  color: rgb(0, 0, 0);
  background-color: #7d7e7f;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 160px;
}



.delete-icon {
  position: absolute;
  top: 3px;
  right: 3px;

  color: white;
  border-radius: 50%;

  font-size: 9px;
  padding: 6px;
  cursor: pointer;
}

.description {
  margin-top: 10px;

  color: rgb(50, 48, 48);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Số dòng tối đa */
  -webkit-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;


  font-size: 16px;
  font-weight: 450;


}

.btndelete {
  background-color: #bd2d23;
  /* Màu nền đỏ */
  border-radius: 50%;
  border: 2px solid rgb(232, 227, 227);
  color: white;
  /* Màu chữ trắng */
  padding: 5px 7px;
  /* Khoảng cách bên trong */
  padding-top: 6px;
  font-size: 9px;
  /* Kích thước chữ */
  cursor: pointer;
  /* Con trỏ chuột khi hover */
}

.btndelete:hover {
  background-color: #d32f2f;
  /* Màu nền khi hover */
}

/* FOOTER */
main {
  margin-top: 100px;
  margin-bottom: 50px;
}

.footer {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-top-width: 2px;

}

.footer .inner-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer .inner-text .inner-contact {
  color: rgb(186 246 207);
}

.footer .inner-text .inner-member {
  color: white;
}

.footer .inner-text a {
  color: white;
}

=======
/* NAV */
.navbar-brand {
  color: black;
  font-size: 18px;
}

.navbar-toggler {
  color: #0000007d;

}

.navbar-toggler i {
  font-size: 20px;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}

.dropdown-menu li .dropdown-item {
  color: gray;
  font-size: 1em;
  padding: 0.5em 1em;
}

.dropdown-menu {
  border: none;
  border-radius: 0;
  padding: 0.7em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


.dropdown-menu.show {
  display: flex;
}

.form-control {
  font-size: 0.7rem;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}

@media only screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: flex;
  }

  .dropdown-menu.show {
    display: flex;
  }
}

@media only screen and (max-width: 992px) {
  .dropdown-menu.show {
    flex-wrap: wrap;
    max-height: 350px;
    overflow-y: scroll;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1140px) {
  .dropdown:hover .dropdown-menu {
    width: 40vw;
    flex-wrap: wrap;
  }

}

/* thong bao */

/* end thong bao */



/* SEARCH */
.d-flex {
  height: 2rem;
  align-items: center;
}

.d-flex .inner-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-right: 20px;
  --tw-bg-opacity: 0.1;
  --tw-text-opacity: 0.7;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.d-flex .inner-button:hover {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-right: 20px;
  --tw-bg-opacity: 0.1;
  --tw-text-opacity: 0.7;
  background-color: rgb(154, 150, 150);
  color: rgb(0 0 0 / var(--tw-text-opacity));

}

.d-flex .inner-button i {
  margin: -3px;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  --tw-text-opacity: 0.7;
  font-size: 10px;

}

/* END SEARCH */


.bg-dark {
  background-color: #edeef0 !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

}

/* CAROUSEL */
.fa-solid {
  font-size: 0.8rem;
}


.c-item {
  height: 330px;
  position: relative;
}

.c-item div {
  background-size: contain;
  background-repeat: no-repeat;
}

.c-img {
  border-radius: 10px;
  width: 100px;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);

}

.btn-primary {
  color: #fff;
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / 54%);
}

.set-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: .5rem;
  background-origin: content-box;
  object-fit: cover;
}

.inner-image {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
}

#myCarousel {
  background-color: #d1d5db;
  height: 28rem;

}

.inner-sign {
  display: block;
  padding: .5rem 1rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  background: #0d6efd;
  padding: .5rem 1rem;
  font-size: 0.8rem;
  border-radius: .3rem;
  width: 100px;
  margin: 10px 0;
}

.inner-sign:hover {
  color: rgba(255, 255, 255, .55);
}


.btn-outline-success {
  color: #000000;
  border-color: #000000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}

.btn-outline-success i {
  text-align: center;
}


.btn-outline-success:hover {
  background: #eeeeee;
  color: black;
  border: solid black 1px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
  color: #000000;
}

.navbar-dark .navbar-nav a.nav-link {
  color: #000000;
  font-size: 1em;
}

.navbar-dark .navbar-nav a.nav-link:hover {
  color: var(--color-text);
}



.image-set {
  background: linear-gradient(0deg, #000000e6, rgba(0, 0, 0, .863) 5.79%, rgba(0, 0, 0, .802) 10.88%, rgba(0, 0, 0, .721) 15.63%, rgba(0, 0, 0, .627) 20.37%, rgba(0, 0, 0, .523) 25.46%, rgba(0, 0, 0, .416) 31.25%, rgba(0, 0, 0, .311) 38.08%, rgba(0, 0, 0, .213) 46.3%, rgba(0, 0, 0, .128) 56.25%, #0000000f 68.29%, rgba(0, 0, 0, .016) 82.75%, #0000);
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  border-radius: 10px;

}

.inner-text {
  margin-left: 10px;
}

.text-end {
  display: flex;
  text-align: left !important;
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;

}

.text-end .inner-button {
  right: 0;
  display: inline-block;
}

.carousel-indicators {
  z-index: 15 !important;
}

.carousel-caption .inner-desc {
  font-size: 14px;
  width: 95%;
  margin: 0;
  padding: 0;
}

.carousel-caption .inner-background {
  background: linear-gradient(0deg, #000000e6, rgba(0, 0, 0, .863) 5.79%, rgba(0, 0, 0, .802) 10.88%, rgba(0, 0, 0, .721) 15.63%, rgba(0, 0, 0, .627) 20.37%, rgba(0, 0, 0, .523) 25.46%, rgba(0, 0, 0, .416) 31.25%, rgba(0, 0, 0, .311) 38.08%, rgba(0, 0, 0, .213) 46.3%, rgba(0, 0, 0, .128) 56.25%, #0000000f 68.29%, rgba(0, 0, 0, .016) 82.75%, #0000);
  font-size: 14px;
  width: 95%;
  margin: 0;
  padding: 0;
}

.text-start {
  text-align: left !important;
  top: 0.02rem;
}


.btn-group-lg>.btn,
.btn-lg {
  padding: .2rem;
  font-size: 16px;
  border-radius: .3rem;
  width: 150px;
  margin-right: 10px;
}

/* END CAROUSEL */


/*main*/
body {
  background-color: #D1D4DD;
}

.truyentheodoi {
  margin: 120px;

  color: #4D535E;
}

.truyentheodoi .truyen {
  margin-bottom: 70px;
}

.truyentheodoi h3 {
  margin-bottom: 50px;
}

.chuyentrang .col-6 {
  position: relative;
  font-weight: 500;

}

.trangtruoc {
  position: absolute;
  right: 0px;
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 50px;
  color: rgb(0, 0, 0);
  background-color: #999a9d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.button i {
  margin-right: 8px;
  margin-left: 8px;
}

.button:hover {
  color: rgb(0, 0, 0);
  background-color: #7d7e7f;
}

.image-container {
  position: relative;
  display: inline-block;
  width: 170px;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.delete-icon {
  position: absolute;
  top: 3px;
  right: 3px;

  color: white;
  border-radius: 50%;

  font-size: 9px;
  padding: 6px;
  cursor: pointer;
}

.description {
  margin-top: 10px;

  color: rgb(50, 48, 48);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Số dòng tối đa */
  -webkit-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;


  font-size: 16px;
  font-weight: 450;


}

.btndelete {
  background-color: #bd2d23;
  /* Màu nền đỏ */
  border-radius: 50%;
  border: 2px solid rgb(232, 227, 227);
  color: white;
  /* Màu chữ trắng */
  padding: 5px 7px;
  /* Khoảng cách bên trong */
  padding-top: 6px;
  font-size: 9px;
  /* Kích thước chữ */
  cursor: pointer;
  /* Con trỏ chuột khi hover */
}

.btndelete:hover {
  background-color: #d32f2f;
  /* Màu nền khi hover */
}

/* FOOTER */
main {
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-top-width: 2px;

}

.footer .inner-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer .inner-text .inner-contact {
  color: rgb(186 246 207);
}

.footer .inner-text .inner-member {
  color: white;
}

.footer .inner-text a {
  color: white;
}

>>>>>>> dev
/* END FOOTER */