/* NAV */
.navbar-brand {
  color: black;
}

.navbar-toggler {
  color: #0000007d;

}

.navbar-toggler i {
  font-size: 20px;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
}

.dropdown-menu li .dropdown-item {
  color: gray;
  font-size: 1em;
  padding: 0.5em 1em;
}

.dropdown-menu {
  border: none;
  border-radius: 0;
  padding: 0.7em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


.dropdown-menu.show {
  display: flex;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
}

@media only screen and (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: flex;
  }

  .dropdown-menu.show {
    display: flex;
  }
}

@media only screen and (max-width: 992px) {
  .dropdown-menu.show {
    flex-wrap: wrap;
    max-height: 350px;
    overflow-y: scroll;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1140px) {
  .dropdown:hover .dropdown-menu {
    width: 40vw;
    flex-wrap: wrap;
  }

}

/* thong bao */

/* end thong bao */



/* SEARCH */
.d-flex {
  height: 2rem;
  align-items: center;
}

.d-flex .inner-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-right: 20px;
  --tw-bg-opacity: 0.1;
  --tw-text-opacity: 0.7;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.d-flex .inner-button:hover {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-right: 20px;
  --tw-bg-opacity: 0.1;
  --tw-text-opacity: 0.7;
  background-color: rgb(154, 150, 150);
  color: rgb(0 0 0 / var(--tw-text-opacity));

}

.d-flex .inner-button i {
  margin: -3px;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  --tw-text-opacity: 0.7;
  font-size: 10px;

}

/* END SEARCH */


.bg-dark {
  background-color: #edeef0 !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

}

/* CAROUSEL */
.fa-solid {
  font-size: 0.8rem;
}


.c-item {
  height: 330px;
  position: relative;
}

.c-item div {
  background-size: contain;
  background-repeat: no-repeat;
}

.c-img {
  border-radius: 10px;
  width: 100px;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);

}

.btn-primary {
  color: #fff;
  --tw-bg-opacity: 1;
  background-color: rgb(37 99 235 / 54%);
}

.set-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: .5rem;
  background-origin: content-box;
  object-fit: cover;
}

.inner-image {
  width: 100%;
  height: 100%;
  border-radius: .5rem;
}

#myCarousel {
  background-color: #d1d5db;
  height: 28rem;

}

.inner-sign {
  display: block;
  padding: .5rem 1rem;
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  background: #0d6efd;
  padding: .5rem 1rem;
  font-size: 0.8rem;
  border-radius: .3rem;
  width: 100px;
  margin: 10px 0;
}

.inner-sign:hover {
  color: rgba(255, 255, 255, .55);
}


.btn-outline-success {
  color: #000000;
  border-color: #000000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}

.btn-outline-success i {
  text-align: center;
}


.btn-outline-success:hover {
  background: #eeeeee;
  color: black;
  border: solid black 1px;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
  color: #000000;
}

.navbar-dark .navbar-nav a.nav-link {
  color: #000000;
  font-size: 1em;
}

.navbar-dark .navbar-nav a.nav-link:hover {
  color: var(--color-text);
}



.image-set {
  background: linear-gradient(0deg, #000000e6, rgba(0, 0, 0, .863) 5.79%, rgba(0, 0, 0, .802) 10.88%, rgba(0, 0, 0, .721) 15.63%, rgba(0, 0, 0, .627) 20.37%, rgba(0, 0, 0, .523) 25.46%, rgba(0, 0, 0, .416) 31.25%, rgba(0, 0, 0, .311) 38.08%, rgba(0, 0, 0, .213) 46.3%, rgba(0, 0, 0, .128) 56.25%, #0000000f 68.29%, rgba(0, 0, 0, .016) 82.75%, #0000);
  bottom: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  border-radius: 10px;

}

.inner-text {
  margin-left: 10px;
}

.text-end {
  display: flex;
  text-align: left !important;
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;

}

.text-end .inner-button {
  right: 0;
  display: inline-block;
}

.carousel-indicators {
  z-index: 15 !important;
}

.carousel-caption .inner-desc {
  font-size: 14px;
  width: 95%;
  margin: 0;
  padding: 0;
}

.carousel-caption .inner-background {
  background: linear-gradient(0deg, #000000e6, rgba(0, 0, 0, .863) 5.79%, rgba(0, 0, 0, .802) 10.88%, rgba(0, 0, 0, .721) 15.63%, rgba(0, 0, 0, .627) 20.37%, rgba(0, 0, 0, .523) 25.46%, rgba(0, 0, 0, .416) 31.25%, rgba(0, 0, 0, .311) 38.08%, rgba(0, 0, 0, .213) 46.3%, rgba(0, 0, 0, .128) 56.25%, #0000000f 68.29%, rgba(0, 0, 0, .016) 82.75%, #0000);
  font-size: 14px;
  width: 95%;
  margin: 0;
  padding: 0;
}

.text-start {
  text-align: left !important;
  top: 0.02rem;
}


.btn-group-lg>.btn,
.btn-lg {
  padding: .2rem;
  font-size: 16px;
  border-radius: .3rem;
  width: 150px;
  margin-right: 10px;
}

/* END CAROUSEL */
/*main*/
.intro {
  margin-top: 45px;
  margin-bottom: 15px;
}

main {
  margin-bottom: 100px;
}

.intro .anhnen {
  width: 100%;
  height: 500px;
  background-image: url('https://i.pinimg.com/1200x/41/9c/24/419c24bda1123f9c7636f1c408b4f680.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: fill;
  margin-top: 30px;
  position: relative;
  display: block;
}

.intro .anhnen::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 100%);
  pointer-events: none;
  /* Để không ảnh hưởng đến sự tương tác với ảnh */
}

.intro .info {
  position: relative;
  background-color: #e5e7eb;
  padding-top: 10px;
  padding-bottom: 0px;
  min-height: 250px;

}


.anhnen h2 {
  position: absolute;
  bottom: 10px;
  color: white;
  font-family: "Times New Roman", Times, serif;
  z-index: 1;
  left: 280px;
}

.thongtin h3 {
  font-family: "Times New Roman", Times, serif;
  color: black;


}

.circle-icon {
  width: 50px;
  height: 50px;
  background-color: #b2d0f0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(89, 28, 221);
  font-size: 24px;
  font-weight: bold;
}

.thongtin {
  background-color: #EDEEF2;
  margin-bottom: -30px;
  padding: 5px;
 

}

.thongtin .row {
  margin: 20px;
}

.thongtin .col-1 {
  margin-right: -20px;
}

.thongtin .col-11 {
  line-height: 10px;
  padding-top: 7px;
  padding-left: 20px;
}

.trangchinhthuc a {
  color: rgb(71, 69, 69);
}

.thongtin h6 {
  color: rgb(71, 69, 69);
}

.bold {
  font-weight: bold;
}

.trangchinhthuc {
  line-height: 15px;
  background-color: #e6e7eb;
  padding: 20px;
}


.anhnen img {
  position: absolute;
  width: 220px;
  height: 330px;
  top:400px;
  left: 50px;
  border-radius: 10px;
  z-index:1;
}

.intro .info .desc {
  padding-bottom: 30px;
  margin-left: 300px;
}
.intro .info .desc .detail{
  min-height: 170px;
  font-size: large;
}

.intro .info .desc button {
  background-color: blue;
 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  width: 160px;
  height: 40px;
  
}
.intro .info .desc button:hover {
  background-color: rgb(21, 21, 175);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 15px;
  cursor: pointer;
  border-radius: 5px;
  width: 160px;
  height: 40px;
  
}

.body {
  background-color: #d1d5db;

}

.content h6 {
  text-transform: uppercase;
}

.content img {
  width: 100px;
  height: 100%;


}

.dexuat {

  display: flex;
  align-items: center;
  padding: 0px;
  width: 100%;
 

}

.dexuat img {
  width: 90px;
  height: 110px;
  border-radius: 5px;
  transition: transform 0.2s;
}

.dexuat img:hover {
  transform: scale(1.1);
}

.dexuat .truyendexuat {
  margin-left:0px;
  color: rgb(0, 0, 0);
  padding-bottom: 30px;
  font-family:Arial, Helvetica, sans-serif;
  display: flex;

}
.dexuat .truyendexuat .sochuong{
  font-weight: bold;
  color: #615f5f;
}
.dexuat .truyendexuat .noidung{
  font-weight: bold;
  color: #302f2f;
}
.dexuat .truyendexuat .detail{
  margin-left: 15px;
}

.content .allchuong {

  padding: 20px;
  height: 800px;
  overflow: auto;
  background-color: #EDEEF2;
  
}
.content .user{
  display: flex;
}
.allchuong .chuong .col-2 {
  display: flex;
  justify-content: center;
  /* Căn giữa theo chiều ngang */
  align-items: center;
  /* Căn giữa theo chiều dọc */
  white-space: nowrap;
  
}

.allchuong .noidungchuong {
  padding-top: 15px;
  color: #2f2d2d;
  font-size: larger;
}  

.allchuong .chuong {
  background-color: #f8f8f8;
  padding: 0px;
  border-radius: 5px;
  margin: 10px;
  color: rgb(71, 69, 69);
  justify-content: center;
  line-height: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 13px;


}


.allchuong .noidungchuong p {
  color: black;
}

.allchuong .chuong:hover {
  border-radius: 5px;
  background-color: #e5e7eb;

}

.chuong h3 {
  font-family: "Times New Roman", Times, serif;
  color: rgb(71, 69, 69);
}

.dexuat {
  background-color: #e5e7eb;
  padding: 10px;
  margin-left: 0;
  
}

.circular-btn {
  margin-top: 15px;
  width: 30px;
  height: 30px;
  background-color: #ebedf1;
  border: none;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}

/* FOOTER */
.footer {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-top-width: 2px;
  margin-bottom: -100px;

}

.footer .inner-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer .inner-text .inner-contact {
  color: rgb(186 246 207);
}

.footer .inner-text .inner-member {
  color: white;
}

.footer .inner-text a {
  color: white;
}

/* END FOOTER */