{% extends "index.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
{% load humanize %}

<!-- MAIN -->
<main>
    <section class="inner-login">
        <div class="container-2">
            <!-- REGISTER -->
            <div class="registration form">
                <header>Đăng nhập</header>
                <form method="POST">
                    {% csrf_token %}
                    <input type="text" placeholder="Tên đăng nhập" name="ten">
                    <input type="password" placeholder="Mật khẩu" name="matkhau">
                    <a href="#">Quên mật khẩu?</a>
                    <button type="submit" class="button">Đăng nhập</button>
                </form>
                <div class="signup">
                    <span class="signup">Bạn chưa có tài khoản?
                        <a class="label" href="register.html">Đăng ký</a>
                    </span>
                </div>
            </div>
            <!-- END REGISTER -->
        </div>

    </section>
</main>
<!-- END MAIN -->


<!-- FOOTER -->
<footer class="footer">
    <!-- <p class="float-end"><a href="#">Back to top</a></p> -->
    <div class="container">
        <div class="inner-text">
            <div class="inner-contact">Link Github của nhóm 6:
                <a href="https://github.com/nhom-6-python/btl-python-n6.git" target="_blank"> GitHub <i
                        class="fa-brands fa-github"></i></a>
            </div>
            <div class="inner-contact">
                Thành viên nhóm:
            </div>
            <div class="inner-member">B22DCCN261 - Hoàng Sơn Hải</div>
            <div class="inner-member">B22DCKH131 - Hoàng Khánh Văn</div>
            <div class="inner-member">B22DCKH129 - Nguyễn Hữu Trường</div>
            <div class="inner-member">B22DCCN633 - Thái Hữu Phúc</div>
            <div class="inner-member">B22DCCN371 - Trịnh Mạnh Hùng</div>
        </div>
    </div>

</footer>
<!-- END FOOTER -->
{% endblock %}