<header>
	<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
		<div class="container">
			<a class="navbar-brand" href="/home/">Trang chủ</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<i class="fa-solid fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					<li class="nav-item">
						<a class="nav-link" href="suatruyen.htmpyl">Đăng truyện</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							Thể loại
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<ul>
								<li><a class="dropdown-item" href="/theloai=Action/">Action</a></li>
								<li><a class="dropdown-item" href="/theloai=Detective/">Detective </a></li>
								<li><a class="dropdown-item" href="/theloai=Huyền Huyễn/">Huyền Huyễn</a></li>
								<li><a class="dropdown-item" href="/theloai=Military/">Military</a></li>
								<li><a class="dropdown-item" href="/theloai=Seinen/">Seinen</a></li>
								<li><a class="dropdown-item" href="/theloai=Tragedy/">Tragedy</a></li>
							</ul>
							<ul>
								<li><a class="dropdown-item" href="/theloai=Adventure/">Adventure</a></li>
								<li><a class="dropdown-item" href="/theloai=Doujinshi/">Doujinshi</a></li>
								<li><a class="dropdown-item" href="/theloai=Isekai/">Isekai</a></li>
								<li><a class="dropdown-item" href="/theloai=Mistery/">Mistery</a></li>
								<li><a class="dropdown-item" href="/theloai=Shoujo/">Shoujo</a></li>
								<li><a class="dropdown-item" href="/theloai=Trọng sinh/">Trọng sinh</a></li>

							</ul>
							<ul>
								<li><a class="dropdown-item" href="/theloai=Anime/">Anime</a></li>
								<li><a class="dropdown-item" href="/theloai=Drama/">Drama</a></li>
								<li><a class="dropdown-item" href="/theloai=Josei/">Josei</a></li>
								<li><a class="dropdown-item" href="/theloai=Ngôn tình/">Ngôn tình</a></li>
								<li><a class="dropdown-item" href="/theloai=Shoujo Ai/">Shoujo Ai</a></li>
								<li><a class="dropdown-item" href="/theloai=Truyện màu/">Truyện màu</a></li>
							</ul>
							<ul>
								<li><a class="dropdown-item" href="/theloai=Chuyển sinh/">Chuyển sinh</a></li>
								<li><a class="dropdown-item" href="/theloai=Fantasy/">Fantasy</a></li>
								<li><a class="dropdown-item" href="/theloai=Mafia/">Mafia</a></li>
								<li><a class="dropdown-item" href="/theloai=One/">One shot</a></li>
								<li><a class="dropdown-item" href="/theloai=Shounen/">Shounen</a></li>
								<li><a class="dropdown-item" href="/theloai=Webtoon/">Webtoon</a></li>

							</ul>
							<ul>
								<li><a class="dropdown-item" href="/theloai=Cổ/">Cổ đại</a></li>
								<li><a class="dropdown-item" href="/theloai=Gender Bender/">Gender Bender</a></li>
								<li><a class="dropdown-item" href="/theloai=Magic/">Magic</a></li>
								<li><a class="dropdown-item" href="/theloai=Psychological/">Psychological</a></li>
								<li><a class="dropdown-item" href="/theloai=Shounen Ai/">Shounen Ai</a></li>
								<li><a class="dropdown-item" href="/theloai=Xuyên không/">Xuyên không</a></li>
							</ul>
							<ul>
								<li><a class="dropdown-item" href="/theloai=Comedy/">Comedy</a></li>
								<li><a class="dropdown-item" href="/theloai=Harem/">Harem</a></li>
								<li><a class="dropdown-item" href="/theloai=Manhua/">Manhua</a></li>
								<li><a class="dropdown-item" href="/theloai=Romance/">Romance</a></li>
								<li><a class="dropdown-item" href="/theloai=Slice of life/">Slice of life</a></li>

							</ul>
							<ul>
								<li><a class="dropdown-item" href="/theloai=Comic/">Comic</a></li>
								<li><a class="dropdown-item" href="/theloai=Historical/">Historical</a></li>
								<li><a class="dropdown-item" href="/theloai=Manhwa/">Manhwa</a></li>
								<li><a class="dropdown-item" href="/theloai=School Life/">School Life</a></li>
								<li><a class="dropdown-item" href="/theloai=Sports/">Sports</a></li>
							</ul>
							<ul>
								<li><a class="dropdown-item" href="/theloai=Demons/">Demons</a></li>
								<li><a class="dropdown-item" href="/theloai=Horror/">Horror</a></li>
								<li><a class="dropdown-item" href="/theloai=Martial Arts/">Martial Arts</a></li>
								<li><a class="dropdown-item" href="/theloai=Sci-fi/">Sci-fi</a></li>
								<li><a class="dropdown-item" href="/theloai=Supernatural/">Supernatural</a></li>
							</ul>
						</div>
					</li>

				</ul>
				<form class="d-flex">
					<input class="form-control me-2" type="search" placeholder="Nhập tên truyện..." aria-label="Search">
					<button class="btn inner-button" type="submit">
						<i class="fa-solid fa-magnifying-glass"></i>
					</button>
				</form>
				<div class="notification_wrap">
					<div class="notification_icon">
						<i class="fa-regular fa-bell"></i>
					</div>
					<div class="dropdown">
						{% for x in list_thong_baos %}
						<div class="notify_item">
							<div class="notify_info">
								<a href="#">{{ x.theloai}}</a>
								<p>{{ x.noidung }}</p>
							</div>
						</div>
						{% endfor %}
						
					</div>
				</div>
				<a class="inner-sign" href="login.html">Đăng nhập</a>
			</div>
		</div>
	</nav>
</header>