{% extends "index.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
{% load humanize %}

<!-- MAIN -->
<main>
  <section class="inner-login">
    <div class="container-2">
      <!-- REGISTER -->
      <div class="registration form">
        <header>Đăng ký</header>
        <form method="POST">
          {% csrf_token %}
          <input type="text" placeholder="Tên đăng nhập" required name="ten">
          <input type="password" placeholder="Mật khẩu" required name="matkhau">
          <input type="password" placeholder="Nhập lại mật khẩu" required name="nhaplaimk">

          <select id="" name="vaitro">
            <option value="" selected disabled hidden>Chọn một vai trò</option>
            <option value="nguoidoc">Người đọc</option>
            <option value="nhomdich">Nhóm dịch</option>
          </select>
          <button type="submit" class="button">Đăng ký</button>
        </form>
        <div class="signup">
          <span class="signup">Đã có tài khoản?
            <a class="label" href="login.html">Đăng nhập</a>
          </span>
        </div>
      </div>
      <!-- END REGISTER -->
    </div>
  </section>
</main>
<!-- END MAIN -->


<!-- FOOTER -->
<footer class="footer">
  <!-- <p class="float-end"><a href="#">Back to top</a></p> -->
  <div class="container">
    <div class="inner-text">
      <div class="inner-contact">Link Github của nhóm 6:
        <a href="https://github.com/nhom-6-python/btl-python-n6.git" target="_blank"> GitHub <i
            class="fa-brands fa-github"></i></a>
      </div>
      <div class="inner-contact">
        Thành viên nhóm:
      </div>
      <div class="inner-member">B22DCCN261 - Hoàng Sơn Hải</div>
      <div class="inner-member">B22DCKH131 - Hoàng Khánh Văn</div>
      <div class="inner-member">B22DCKH129 - Nguyễn Hữu Trường</div>
      <div class="inner-member">B22DCCN633 - Thái Hữu Phúc</div>
      <div class="inner-member">B22DCCN371 - Trịnh Mạnh Hùng</div>
    </div>
  </div>

</footer>
<!-- END FOOTER -->
{% endblock %}