{% extends "index.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
{% load humanize %}
<!-- NAVBAR -->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/home/">Trang chủ</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link" href="suatruyen.html">Đăng truyện</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Thể loại
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <ul>
                <li><a class="dropdown-item" href="/theloai/Action/">Action</a></li>
                <li><a class="dropdown-item" href="/theloai/Detective/">Detective </a></li>
                <li><a class="dropdown-item" href="/theloai/Huyền Huyễn/">Huyền Huyễn</a></li>
                <li><a class="dropdown-item" href="/theloai/Military/">Military</a></li>
                <li><a class="dropdown-item" href="/theloai/Seinen/">Seinen</a></li>
                <li><a class="dropdown-item" href="/theloai/Tragedy/">Tragedy</a></li>
              </ul>
              <ul>
                <li><a class="dropdown-item" href="/theloai/Adventure/">Adventure</a></li>
                <li><a class="dropdown-item" href="/theloai/Doujinshi/">Doujinshi</a></li>
                <li><a class="dropdown-item" href="/theloai/Isekai/">Isekai</a></li>
                <li><a class="dropdown-item" href="/theloai/Mistery/">Mistery</a></li>
                <li><a class="dropdown-item" href="/theloai/Shoujo/">Shoujo</a></li>
                <li><a class="dropdown-item" href="/theloai/Trọng sinh/">Trọng sinh</a></li>

              </ul>
              <ul>
                <li><a class="dropdown-item" href="/theloai/Anime/">Anime</a></li>
                <li><a class="dropdown-item" href="/theloai/Drama/">Drama</a></li>
                <li><a class="dropdown-item" href="/theloai/Josei/">Josei</a></li>
                <li><a class="dropdown-item" href="/theloai/Ngôn tình/">Ngôn tình</a></li>
                <li><a class="dropdown-item" href="/theloai/Shoujo Ai/">Shoujo Ai</a></li>
                <li><a class="dropdown-item" href="/theloai/Truyện màu/">Truyện màu</a></li>
              </ul>
              <ul>
                <li><a class="dropdown-item" href="/theloai/Chuyển sinh/">Chuyển sinh</a></li>
                <li><a class="dropdown-item" href="/theloai/Fantasy/">Fantasy</a></li>
                <li><a class="dropdown-item" href="/theloai/Mafia/">Mafia</a></li>
                <li><a class="dropdown-item" href="/theloai/One/">One shot</a></li>
                <li><a class="dropdown-item" href="/theloai/Shounen/">Shounen</a></li>
                <li><a class="dropdown-item" href="/theloai/Webtoon/">Webtoon</a></li>

              </ul>
              <ul>
                <li><a class="dropdown-item" href="/theloai/Cổ/">Cổ đại</a></li>
                <li><a class="dropdown-item" href="/theloai/Gender Bender/">Gender Bender</a></li>
                <li><a class="dropdown-item" href="/theloai/Magic/">Magic</a></li>
                <li><a class="dropdown-item" href="/theloai/Psychological/">Psychological</a></li>
                <li><a class="dropdown-item" href="/theloai/Shounen Ai/">Shounen Ai</a></li>
                <li><a class="dropdown-item" href="/theloai/Xuyên không/">Xuyên không</a></li>
              </ul>
              <ul>
                <li><a class="dropdown-item" href="/theloai/Comedy/">Comedy</a></li>
                <li><a class="dropdown-item" href="/theloai/Harem/">Harem</a></li>
                <li><a class="dropdown-item" href="/theloai/Manhua/">Manhua</a></li>
                <li><a class="dropdown-item" href="/theloai/Romance/">Romance</a></li>
                <li><a class="dropdown-item" href="/theloai/Slice of life/">Slice of life</a></li>

              </ul>
              <ul>
                <li><a class="dropdown-item" href="/theloai/Comic/">Comic</a></li>
                <li><a class="dropdown-item" href="/theloai/Historical/">Historical</a></li>
                <li><a class="dropdown-item" href="/theloai/Manhwa/">Manhwa</a></li>
                <li><a class="dropdown-item" href="/theloai/School Life/">School Life</a></li>
                <li><a class="dropdown-item" href="/theloai/Sports/">Sports</a></li>
              </ul>
              <ul>
                <li><a class="dropdown-item" href="/theloai/Demons/">Demons</a></li>
                <li><a class="dropdown-item" href="/theloai/Horror/">Horror</a></li>
                <li><a class="dropdown-item" href="/theloai/Martial Arts/">Martial Arts</a></li>
                <li><a class="dropdown-item" href="/theloai/Sci-fi/">Sci-fi</a></li>
                <li><a class="dropdown-item" href="/theloai/Supernatural/">Supernatural</a></li>
              </ul>
            </div>
          </li>

        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Nhập tên truyện..." aria-label="Search">
          <button class="btn inner-button" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>

        <a class="inner-sign" href="login.html">Đăng nhập</a>
      </div>
    </div>
  </nav>
</header>
<!-- END NAVBAR -->

<!-- MAIN -->
<main>
  <section class="inner-login">
    <div class="container-2">
      <!-- REGISTER -->
      <div class="registration form">
        <header>Đăng ký</header>
        <form method="POST">
          {% csrf_token %}
          <input type="text" placeholder="Tên đăng nhập" required name="ten">
          <input type="password" placeholder="Mật khẩu" required name="matkhau">
          <input type="password" placeholder="Nhập lại mật khẩu" required name="nhaplaimk">

          <select id="" name="vaitro">
            <option value="" selected disabled hidden>Chọn một vai trò</option>
            <option value="nguoidoc">Người đọc</option>
            <option value="nhomdich">Nhóm dịch</option>
          </select>
          <button type="submit" class="button">Đăng ký</button>
        </form>
        <div class="signup">
          <span class="signup">Đã có tài khoản?
            <a class="label" href="login.html">Đăng nhập</a>
          </span>
        </div>
      </div>
      <!-- END REGISTER -->
    </div>
  </section>
</main>
<!-- END MAIN -->


<!-- FOOTER -->
<footer class="footer">
  <!-- <p class="float-end"><a href="#">Back to top</a></p> -->
  <div class="container">
    <div class="inner-text">
      <div class="inner-contact">Link Github của nhóm 6:
        <a href="https://github.com/nhom-6-python/btl-python-n6.git" target="_blank"> GitHub <i
            class="fa-brands fa-github"></i></a>
      </div>
      <div class="inner-contact">
        Thành viên nhóm:
      </div>
      <div class="inner-member">B22DCCN261 - Hoàng Sơn Hải</div>
      <div class="inner-member">B22DCKH131 - Hoàng Khánh Văn</div>
      <div class="inner-member">B22DCKH129 - Nguyễn Hữu Trường</div>
      <div class="inner-member">B22DCCN633 - Thái Hữu Phúc</div>
      <div class="inner-member">B22DCCN371 - Trịnh Mạnh Hùng</div>
    </div>
  </div>

</footer>
<!-- END FOOTER -->
{% endblock %}