{% extends "index.html" %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block content %}
{% load humanize %}

<main>
	<div class="truyentheodoi">
		<div class="container">
			<h3>Truyện Theo Dõi</h3>
			<div class="truyen">
				<div class="row">
					{% for x in truyen_yeuthich %}
					<div class="col-lg-2 col-md-4 col-sm-6 col-12">
						<div class="image-container">
							<a href="/truyen_id={{x.id}}/">
								<img src="{{x.anhbia.url}}" alt="{{x.ten}}" loading="lazy" width="320" height="480">
							</a>
						</div>
						<div class="inner-name">
							<a href="/truyen_id={{x.id}}/">
								<div class="description">{{x.ten}} - Ch.{{x.chapmoinhat.stt}}</div>
							</a>
						</div>
					</div>
					{% endfor %}
				</div>


			</div>
		</div>
	</div>


</main>

<!-- FOOTER -->
<footer class="footer">
	<!-- <p class="float-end"><a href="#">Back to top</a></p> -->
	<div class="container">
		<div class="inner-text">
			<div class="inner-contact">Link Github của nhóm 6:
				<a href="github.com" target="_blank">github.com</a>
			</div>
			<div class="inner-contact">
				Thành viên nhóm:
			</div>
			<div class="inner-member">B22DCCN261 - Hoàng Sơn Hải</div>
			<div class="inner-member">B22DCKH131 - Hoàng Khánh Văn</div>
			<div class="inner-member">B22DCKH129 - Nguyễn Hữu Trường</div>
			<div class="inner-member">B22DCCN633 - Thái Hữu Phúc</div>
			<div class="inner-member">B22DCCN371 - Trịnh Mạnh Hùng</div>
		</div>
	</div>

</footer>
<!-- END FOOTER -->


<script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>


{% endblock %}