{% extends 'index.html' %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/home">Trang chủ</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="">Thể loại</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Tìm kiếm nâng cao</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">N6-truyện</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
{% endblock %}


{% block content %}
<h2>Tải lên bìa truyện</h2>
<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	<label>Tên: </label>
	<input type="text" name="ten">
	<label>Thể loại: </label>
	<input type="textarea" name="theloai">
	<label>mota: </label>
	<input type="textarea" name="mota">
	<label>Tác giả: </label>
	<input type="text" name="tacgia">
	<label>ảnh bìa: </label>
	<input type="file" name="anhbia">
	<label>ảnh nền: </label>
	<input type="file" name="anhnen">
	<button type="submit" name="upload-truyen">Tải lên</button>
</form>
{% endblock %}